header{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  position: fixed;
  align-items: center;
  background-color: white;
  width: 100%;
  border: 1px solid black;
  top: 0px;
  justify-content: space-between;
}
nav{
  display: flex;
  width: auto;
}
.logo{
  color: mediumaquamarine;
  display: flex;
  align-items: center;
}
#pagename{
  color: mediumaquamarine;
  display: flex;
  flex-wrap: nowrap;
}
.links{
  display: flex;
  justify-content: space-around;
  padding: 5px 20px 5px 20px;
}
li{
  list-style-type: none;
  display: inline-flex;
}
.main{
  display: flex;
  padding-top: 100px;
  height: auto;
}
.columnlarge{
  width: 630px;
  height: 550px;
}
.columnmedium{
  width: 300px;
}
.columnsmall{
  width: 240px;
}
#column{
  margin: 3px 20px 20px 20px;
}
#mother{
  font-size: 17px;
  font-family: georgia;
}
#orca{
  font-family: georgia;
  font-size: 17px;
  display: flex;
}
#earth{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
  height: 300px;
  color: white;
  font-family: georgia;
  font-size: 30px;
  font-weight: bold;
}
#burger{
  font-family: georgia;
  font-size: 17px;
  display: flex;
}
#research{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
  color: white;
  height: 300px;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
}
#fbi{
  font-size: 17px;
  font-family: georgia;
}
#catspic{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png");
  min-height: 300px;
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: georgia;
}
#cats{
  font-size: 17px;
  font-family: georgia;
}
#bitespic{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-news-bite.png");
  min-height: 250px;
}
#bites{
  font-family: georgia;
  font-size: 16px;
  font-weight: bold;
}
#motherpic{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");
  min-height: 250px;
  color: white;
  font-family: georgia;
  font-weight: bold;
  font-size: 30px;
}
#columnlargeleft{
  display: block;
  height: 558px;
}
#columnlargeright{
  display: block;
}
#doublecolumnholder{
  display: flex;
  align-items: flex-end;
}
.column-inside{
  padding: 5px 5px;
}
#newsbitesmenu{
  background color: whitesmoke;
  font-family: Verdana;
  font-size: 16px;
  color: Dimgray;
  display: flex;
  flex-direction: column;
  



}
.MI{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  height: auto;




}
